/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: var(--background-image);
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  padding: 0 20px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-left: 1px solid var(--corners-color);
  border-bottom: 1px solid var(--corners-color);
  left: 20px;
  bottom: 20px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-right: 1px solid var(--corners-color);
  border-top: 1px solid var(--corners-color);
  right: 20px;
  top: 20px;
}

.header__rec {
  text-transform: uppercase;
  color: var(--rec-color);
  position: absolute;
  top: 20px;
  right: 48px;
}

.header__rec::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--rec-color);
  position: absolute;
  border-radius: 50%;
  margin: 8px 0 0 10px;
  box-shadow: 0 0 4px 2px var(--rec-color);
  top: 0;
  left: 33px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (1024px > width) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }
}

.header__theme-menu-button {
  text-transform: lowercase;
  padding: 2.5px 13px;
  font-size: 18px;
  font-weight: 400;
  color: var(--corners-color);
  background: none;
  border: none;
  line-height: 18px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--corners-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--corners-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
  pointer-events: none;
}

.header__title {
  margin-inline-start: -20px;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
}

.header__title-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-block-end: 60px;
}

.header__paragraph {
  width: 36%;
  color: var(--article-title-color);
  align-self: self-end;
  font-weight: 700;
  width: 50%;
}

/* Main content */

.main {
  display: flex;
  flex-direction: column;
  margin: 60px 0 60px;
  padding: 0 20px;
  gap: 60px;
}

.section__first-block,
.section__third-block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.section__first-block .section__title,
.section__third-block .section__title {
  width: 33%;
  flex: 0 0 auto;
}

.section__first-block .section__article-list,
.section__third-block .section__article-list {
  width: 66%;
  flex: 0 0 auto;
}

.section {
  line-height: 130%;
}

.section__first_block .section__article-list {
  flex-direction: column;
  width: 70%;
  gap: 30px;
}

.section__second-block .section__title {
  width: 30%;
}

.section__second-block .section__article-list {
  display: flex;
  justify-content: space-between;
}

.section__second-block .section__article-item {
  width: 32%;
}

.section__title {
  color: var(--section-title-color);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section__article-title {
  color: var(--article-title-color);
  font-size: 18px;
}

.section__article-text-link {
  text-decoration: none;
  border: none;
  text-shadow: 2px 2px 0px var(--link-shadow);
  transition-duration: var(--transition-duration);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__article-text-link:focus {
  outline: 1px solid var(--main-text-color);
}

.section__article-title-regular {
  font-weight: 400;
}

.section__article-list-title {
  color: var(--article-title-color);
  font-size: 18px;
  font-weight: 700;
}

.section__article-text {
  padding: 10px 0 20px;
  color: var(--main-text-color);
}

.title-decor {
  background: var(--title-decor);
}

.section__third-block .section__article-title {
  font-weight: 400;
}

.section__third-block .section__article-list-title {
  margin-bottom: 20px;
}

.section_fourth_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 19px;
}

.section_fourth_block .section__article-title {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.section_fourth_block .section__image:first-of-type {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.section_fourth_block .section__image:nth-of-type(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.section_fourth_block .section__image:nth-of-type(3) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}

.section_fourth_block .section__image:nth-of-type(4) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.section_fourth_block .section__image:nth-of-type(5) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.section__image {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

/*Footer*/

.footer {
  display: flex;
  height: 100vh;
  min-height: 668px;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (768px < width < 1024px) {
  .footer {
    padding: 430px 20px;
  }
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (375px <= width < 768px) {
  .header {
    padding: 0 10px;
  }

  .header__title {
    margin-inline-start: 0;
  }

  .decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }

  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }

  .header__rec {
    top: 10px;
    right: 38px;
  }

  .header__theme-menu {
    justify-content: end;
    padding-block-start: 10px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
  }

  .header__title-container {
    padding: 0 0 10px 0;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 82.5%;
  }

  .header__paragraph {
    width: 100%;
  }

  .main {
    padding: 0 10px;
    margin: 38px 0;
    gap: 32px;
    flex-direction: column;
  }

  .section__first_block,
  .section__second-block,
  .section__third-block {
    flex-direction: column;
  }

  .section__first-block,
  .section__third-block {
    flex-direction: column;
  }

  .section__first-block .section__title,
  .section__second-block .section__title,
  .section__third-block .section__title {
    width: 80%;
  }

  .section__third-block .section__title {
    width: 100%;
  }

  .section__first-block .section__article-list,
  .section__third-block .section__article-list {
    width: 100%;
  }

  .section__second-block {
    display: flex;
  }

  .section__second-block .section__article-list {
    flex-direction: column;
  }

  .section__second-block .section__article-item {
    width: 100%;
  }

  .section__title {
    width: 100%;
  }

  .section__article-item {
    width: 100%;
  }

  .section_fourth_block {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-weight: 700;
    color: var(--title-color);
    text-shadow: 2px 2px 0px var(--accent-color);
  }
}

@media (768px <= width < 1024px) {
  .header__theme-menu {
    justify-content: flex-end;
    padding-block-start: 50px;
  }

  .header__title-container {
    padding-block-end: 50px;
  }

  .section__first-block .section__title,
  .section__third-block .section__title {
    width: 32%;
    flex: 0 0 auto;
  }

  .section__first-block .section__article-list,
  .section__third-block .section__article-list {
    width: 65%;
    flex: 0 0 auto;
  }

  .section__second-block .section__title {
    width: 30%;
  }
  .section__second-block .section__article-list {
    flex-direction: column;
  }
  .section__second-block .section__article-item {
    width: 100%;
  }
}
